{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block myTitle %}Accueil{% endblock %}
{% block body %}
  {% for animal in animals %}
  <div class="row align-items-center" >
    <div class="col-2 text-center">
      <img src="{{asset('images/' ~ animal.picture)}}" alt="nom animal" />
    </div>
    <div class="col-auto">
      <h2><a href='{{path("animal-detail",{"id":animal.id})}}'>{{animal.name}}</a></h2>
      <div>{{animal.description}}</div>
      <div><a class="btn btn-primary" href="{{path('family-detail', {'id': animal.family.id})}}">{{animal.family.name}}</a></div>
      <div>
        {% for continent in animal.continents %}
          <a href="{{path("continent-detail", {"id": continent.id})}}" class="btn btn-warning">{{continent.name}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}
