{% extends 'base.html.twig' %}

{% block title %}Continents{% endblock %}
{% block myTitle %}Continents{% endblock %}
{% block body %}
  {% for continent in continents %}
  <h2 class="border-bottom border-primary" ><a href="{{path("continent-detail", {"id": continent.id})}}">{{continent.name}}</a></h2>
  <div class="row">
  {% for animal in continent.animals %}
            <div class="col-12 col-md-6">
                <div class="row align-items-center" >
                    <div class="col-6 text-center">
                        <img src="{{asset('images/' ~ animal.picture)}}" alt="nom animal" />
                    </div>
                    <div class="col-6">
                        <h2><a href='{{path("animal-detail",{"id":animal.id})}}'>{{animal.name}}</a></h2>
                        <div>{{animal.description}}</div>
                        <h2><a class="btn btn-primary" href='{{path("family-detail",{"id":animal.family.id})}}'>{{animal.family.name|capitalize}}</a></h2>
                        <div>
                            {% for c in animal.continents %}
                                <a href="{{path("continent-detail", {"id": c.id})}}" class="btn btn-warning">{{c.name}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
  {% endfor %}
{% endblock %}
